@import url("https://fonts.googleapis.com/css?family=Merriweather:300,700,300italic,700italic|Source+Sans+Pro:900");

#main {
    padding-top: 70px;
    padding-bottom: 50px;
}

.tratamentos {
    background-color: #313131;
    padding: 33px 0 0 0;
    text-align: center;
}

.tratamentos-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 0; 
}

body {
    overflow-x: hidden;
}

#main {
    padding-top: 70px;
    padding-bottom: 50px;
}

.tratamentos {
    background-color: #313131;
    padding: 31px 0 0 0;
    text-align: center;
}

.tratamentos-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 0;
}

.tratamento-card {
    position: relative;
}

.tratamento-card img {
    width: 100%;
    height: 370px;
    object-fit: cover;
}

.info-tratamento {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: rgba(46, 46, 46, 0.5);
    transition: opacity 0.3s ease;
}

.info-tratamento h3 {
    margin-bottom: 10px;
    font-size: 1.5em;
    position: absolute;
}

.info-tratamento p {
    margin: 0;
    font-size: 1em;
}

.info-tratamento:hover{
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.5s ease !important;
}

.more{
    margin-top: 230px !important;
    position: relative !important;
}
